.modal {
  top: 50%;
  left: 0;
  width: 100%;
  min-height: 500px;
  animation: slide-down 300ms ease-out forwards;
  max-height: 900px;
}

@media (min-width: 768px) {
  .modal {
    width: 768px;
    left: calc(50% - 384px);
  }
}

.modalHide {
  animation: slide-up 300ms ease-out forwards;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translate(0, -5rem);
  }
  to {
    opacity: 1;
    transform: translate(0, -50%);
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    transform: translate(0, -50%);
  }
  to {
    opacity: 0;
    transform: translate(0, -5rem);
  }
}
